.botton {
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: rgba(221,0,49);
  color: white;
  border: none;
  font-size: 0.9rem;
  padding: 0.9rem 2.5rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 2;
 }

 @media(min-width: 360px) and (max-width: 768px) {
   
  .botton {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: rgba(221,0,49);
    color: white;
    border: none;
    font-size: 0.7rem;
    padding: 0.7rem 2.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 2;
   }
}

@media(max-width: 360px){
 
  .botton {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: rgba(221,0,49);
    color: white;
    border: none;
    font-size: 0.6rem;
    padding: 0.6rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 2;
   }
  }
.botton:hover {
  
  transform: scale(0.9);
}
.botton::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 5px solid rgb(0, 4, 221);
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transform: all 0.2s ease;
}
.botton:hover::after {
  transform: translate(-50%, -50%) scale(1);
  padding: 0.3rem;
}
